<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="Stylesheet" type="text/css" href="./style.css" />
    </head>
    <body>

        <h1>Wgraj plik</h1>
        <form  class="form" action="/upload" enctype="multipart/form-data" method="post">
            <label >Tytuł pliku</label>
            <input type="text" name="title"></form><br>
            <label class="file">Plik</label>
            <input class="small" type="file" name="upload" multiple="multiple"><br><br>
            <input class="button" type="submit" value="Wyślij">
        </form>
    </body>
</html>