* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
	margin: 200px auto;
	text-align: center;
	align-items: center;
	flex-wrap: none;
	justify-content: center;
}	
.file {
	text-align: center;
}
h1{
	font-size: 50px;
	color: yellow;
}

input {
	border: none;
}

.small {
	width: 200px;
	border: none;
}

.send {
	width: 200px;
	background-color: yellow;
	border: none;
	height: 40px;
	margin: 20px;
	border-radius: 10px;
}